<!DOCTYPE html>
<html>
    <head>
    <title>Check your website's SEO</title>
    <meta name="description" content="With our SEO checker, you can analyze SEO of your website in just one click.">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <link rel="icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/">
                    <img id="logo" src="/img/logo.png">
                </a>
            </div>
        </nav>
    </header>