<%- include("partials/header.ejs") %>

    <section class="hero is-fullheight is-light has-text-centered">
        <div class="hero-body">
        <div class="container">
            <h1 class="title">
                404 Page Not Found
            </h1>
            <h2 class="subtitle">
            There is nothing here...
            </h2>
        </div>
        </div>
    </section>
